@font-face {
  font-family: "rudu";
  src: url(../google_fonts/ruwudu-bold-webfont.woff2) format("woff2"),
    url(../google_fonts/ruwudu-bold-webfont.woff2) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "rudu";
  src: url(../google_fonts/ruwudu-medium-webfont.woff2) format("woff2"),
    url(../google_fonts/ruwudu-medium-webfont.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "rudu";
  src: url(../google_fonts/ruwudu-regular-webfont.woff) format(woff),
    url(../google_fonts/ruwudu-regular-webfont.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rudu";
  src: url(../google_fonts/ruwudu-semibold-webfont.woff2) format("woff2"),
    url(../google_fonts/ruwudu-semibold-webfont.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url(../google_fonts/inter-variablefont_slntwght-webfont.woff2)
      format("woff2"),
    url(../google_fonts/inter-variablefont_slntwght-webfont.woff2)
      format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-background: #fffffe;
  --main-button-back-color: rgb(183, 148, 103);
  --yellow-low-trans: rgb(230, 222, 210);
  --main-button-color: #272343;
  --main-heading-color: #272343;
  --main-paragragh-color: #2d334a;
  --sec-color-land: #e3f6f5;
  --tertiary: #bae8e8;
  --projects-Background: #e3f6f5;
  --projects-heading: #272343;
  --main-transtion: all 0.3s;
}

/* Small */
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
/* Medium */
@media (min-width: 768px) {
  .container {
    width: 748px;
    margin: 0 auto;
  }
}
/* Large */
@media (min-width: 992px) {
  .container {
    width: 972px;
    margin: 0 auto;
  }
}
/* XL */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}
/* XXL */
@media (min-width: 1400px) {
  .container {
    width: 1370px;
    margin: 0 auto;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-button-back-color);
  border-radius: 99px;
  border: 1px solid #00000050;
}
body {
  font-family: "rudu";
}
header .container {
  position: relative;
}
.header-content {
  position: absolute;
  top: 40px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 20px 20px 0px rgb(0, 0, 0, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  width: 100%;
  height: 100px;
  z-index: 999;
}
.header-content .header-logo {
  width: 150px;
  margin-left: 50px;
}
img {
  width: 100%;
}
.header-navbar {
  flex: 1;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.nav-list li a {
  display: block;
  text-align: center;
  width: 150px;
  color: #fff;
  font-size: 23px;
  text-transform: uppercase;
  transition: var(--main-transtion);
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
}
.nav-list li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 5px;
  width: 0;
  transform: translateX(-50%);
  background-color: var(--main-button-back-color);
  transition: var(--main-transtion);
  border-radius: 99px;
}

.nav-list li a:hover {
  font-size: 25px;
  color: var(--main-button-back-color);
}
.nav-list li a:hover::before {
  width: 100%;
}
.landing {
  background-color: var(--main-background);
  background-image: url(../images/shsh.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}
.landing .container {
  position: relative;
}
.landing .landing-content {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing .landing-content .landing-icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.landing .landing-content .landing-icons a {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50%;
  transition: var(--main-transtion);
  cursor: pointer;
  color: var(--main-heading-color);
}
.landing .landing-content .landing-icons a:hover {
  background-color: var(--main-button-back-color);
  color: #fff;
}

.landing-content h1 {
  font-size: 100px;
  font-family: "rudu";
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-block: 0 15px;
  border-right: 5px solid var(--main-button-back-color);
  overflow: hidden;
  white-space: nowrap;
  color: var(--main-heading-color);
  animation: typing 2s steps(30, end), blink-caret 0.7s step-end infinite;
  margin-inline: auto;
}

.landing-content h2 {
  font-size: 40px;
  color: var(--main-heading-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 2px;
  animation: writing-head 2s 2s steps(30, end) forwards;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  margin-inline: auto;
  /* display: inline-block; */
}

.landing-content p {
  font-size: 25px;
  color: var(--main-paragragh-color);
  letter-spacing: 1.5px;
  white-space: wrap;
  width: 300px;
  opacity: 0;
  animation: p 0.3s 3.4s forwards linear;
}

.landing-content button {
  border: none;
  background-color: var(--main-button-back-color);
  border-radius: 10px;
  margin-top: 40px;
  width: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 50px;
  transition: var(--main-transtion);
}
.landing-content button::before {
  content: "Download CV";
  left: 100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}
.landing-content button::before,
.landing-content button > span {
  color: var(--main-heading-color);
  position: absolute;
  white-space: nowrap;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;

  letter-spacing: 1.5px;
}
.landing-content button > span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.1s;
}
.landing-content button:hover {
  border-radius: 999px;
}
.landing-content button:hover::before {
  animation: to-left 3s 0.5s linear infinite;
}
.landing-content button:hover > span {
  left: -100px;
}
.borger-icon {
  font-size: 30px;
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
  transition: var(--main-transtion);
  display: none;
}
.borger-icon:hover {
  color: var(--main-button-back-color);
}
@media (max-width: 991px) {
  .nav-list {
    gap: 30px;
  }
  .nav-list li a {
    font-size: 22px;
    width: fit-content;
  }
  .nav-list li a:hover {
    scale: 1;
    font-size: 25px;
  }
  .landing-content {
    flex-direction: column;
    justify-content: center !important;
    text-align: center;
  }
  .landing-content p {
    margin: 0 auto;
  }
  .landing .landing-content .landing-icons {
    flex-direction: row;
    margin-top: 10px;
    gap: 5px;
  }
}
@media (max-width: 767px) {
  .borger-icon {
    display: block;
  }
  .borger-icon:hover + .header-navbar {
    display: block;
  }
  .header-navbar {
    display: none;
  }
  .nav-list {
    display: block;
    background-color: #000;
    position: absolute;
    top: calc(100% + 1px);
    width: calc(100% - 90px);
    left: 45px;
    border-radius: 0 0 50px 50px;
  }
  .nav-list li a {
    width: 100%;
  }
  .nav-list li a::before {
    border-radius: 0;
    height: 3px;
  }
  .nav-list li:last-child a {
    border-radius: 0 0 50px 50px;
    overflow: hidden;
  }
  .landing-content h1 {
    font-size: 70px;
  }
  .landing-content h2 {
    font-size: 35px;
  }
  .landing-content p {
    font-size: 22px;
  }
  .landing-content button {
    width: 220px;
    font-size: 20px;
  }
  .landing .landing-content .landing-icons a {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .landing-content h1 {
    font-size: 40px;
  }
  .landing-content h2 {
    font-size: 20px;
  }
  .landing-content p {
    font-size: 18px;
  }
  .landing-content button {
    width: 220px;
    font-size: 20px;
  }
  .landing .landing-content .landing-icons a {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}
